h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.gallery-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#image-container {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: flex;
  transition: background-image 1s ease
}

#thumbnails {
  height: 25vh;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.thumbnails img {
    width: 100px;
    height: 60px;
    cursor: alias;
    object-fit: fill;
    opacity: 0.7;
    transition: opacity 0.2s;
}

#thumbnails img:hover {
    opacity: 1;
}